<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<test name="Login1">
		<parameter name="phoneNo" value="7719005475" />
		<classes>
			<class name="testCases.ZomatoLogin"></class>
		</classes>
	</test>

	<test name="Login2">
		<parameter name="phoneNo" value="manish" />
		<classes>
			<class name="testCases.ZomatoLogin"></class>
		</classes>
	</test>

	<test name="Login3">
		<parameter name="phoneNo" value="976323430" />
		<classes>
			<class name="testCases.ZomatoLogin"></class>
		</classes>
	</test>

	<test name="Search">

		<classes>
			<class name="testCases.ZomatoSearch"></class>
		</classes>
	</test>

</suite>